<app-bread-crumb
  [items]="[{texto: 'Lançamentos', link: '/entradas'}, {texto: pageTitle}]"></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-link="/entradas"
  button-class="btn-light"
  button-text="<< Voltar"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre o Lançamento
    </div>

    <div class="card-body">
      <div class="form-row">
        <!-- TIPO -->
        <div class="form-group col-md-2">
          <label for="tipo">Tipo:</label>
          <select name="tipo" id="tipo" class="form-control" formControlName="tipo">
            <option *ngFor="let option of tipoCategoriaOptions" [value]="option.value">{{option.text}}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('tipo')"></app-form-field-error>
        </div>

        <!-- LANÇAMENTO -->
        <div class="form-group col-md-5">
          <label for="nome">Lançamento:</label>
          <input type="text" class="form-control" id="nome" formControlName="nome">
          <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
        </div>

        <!-- VALOR -->
        <div class="form-group col-md-3">
          <label for="valor">Valor:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="valor" formControlName="valor">
          </div>
          <app-form-field-error [form-control]="resourceForm.get('valor')"></app-form-field-error>
        </div>

        <!-- DATA -->
        <div class="form-group col-md-2">
          <label for="data">Data:</label>
          <p-calendar inputStyleClass="form-control" id="data" formControlName="data" dataType="string" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
          <app-form-field-error [form-control]="resourceForm.get('data')"></app-form-field-error>
        </div>
      </div>

      <div class="form-row">
        <!-- PAGO -->
        <div class="form-group col-md-2">
          <label for="pago">Pago:</label>
          <div class="btn-group">
            <label (click)="resourceForm.get('pago').setValue(true)" [class.active]="resourceForm.get('pago').value == true" class="btn btn-outline-info">Pago</label>
            <label (click)="resourceForm.get('pago').setValue(false)" [class.active]="resourceForm.get('pago').value == false" class="btn btn-outline-info">Pendente</label>
          </div>
          <app-form-field-error [form-control]="resourceForm.get('pago')"></app-form-field-error>
        </div>

        <!-- CATEGORIA ID -->
        <div class="form-group col-md-3">
          <label for="categoriaId">Categoria:</label>
          <select name="categoriaId" id="categoriaId" class="form-control" formControlName="categoriaId">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('categoriaId')"></app-form-field-error>
        </div>

        <!-- DESCRICAO -->
        <div class="form-group col-md-7">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" id="descricao" formControlName="descricao">
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>

<pre>{{resourceForm.value | json}}</pre>